.CommentBlock {
  background-color: $color-background;
  display: grid;
  grid-template-columns: 1rem 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'header header'
    'comment comment'
    'button replies';

  &_header {
    border-bottom: solid 1px $color-border;
    grid-area: header;
    padding: 0.75rem 0.5rem;
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &_author {
    font-weight: 600;
  }

  &_pts {
    font-size: 0.875rem;
    font-weight: 300;
    margin-left: 0.5rem;
  }

  &_comment {
    overflow: hidden;
    word-break: break-word;
    grid-area: comment;
    padding: 0.5rem 1rem;
    border-bottom: solid 1px $color-border;
  }

  &_replies {
    grid-area: replies;
  }

  &_button {
    grid-area: button;
    display: block;
    position: relative;
    border: none;
    padding: 0;
    background-color: $color-background-secondary;

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0.875rem;
      bottom: 0;
      left: 0;
      background-color: $color-secondary;
    }

    &_style_0 {
      &:before {
        opacity: 1;
      }
    }

    &_style_1 {
      &:before {
        opacity: 0.7;
      }
    }

    &_style_2 {
      &:before {
        opacity: 0.4;
      }
    }
  }
}
