.CommentsRouter {
  border-left: solid 1px $color-border;
  overflow: hidden;

  &_selectPost {
    background-color: $color-background-secondary;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 2rem;
    }
  }
}
