.Logo {
  height: 7rem;
  width: 7rem;
  display: block;

  &_backgroundRing {
    fill: none;
    stroke: $color-secondary;
    stroke-width: 5px;
  }

  &_ring {
    fill: none;
    stroke: $color-secondary;
    stroke-width: 4px;
  }

  &_eyes {
    fill: $color-danger;
    transform-origin: 50% 45%;
    animation: Logo_animation_blink infinite 16s;
  }

  &_smile {
    fill: $color-text;
  }

  &_headBackground {
    fill: white;
    stroke: $color-border;
    stroke-width: 1.75 px;
  }

  &_previewWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_head {
    transform-origin: 50% 50%;
    transform: scale(0.9) translateZ(0);
  }

  &_loading {
    .Logo {
      &_backgroundRings,
      &_rings {
        transform-origin: 50% 50%;
        animation: Logo_animation_rotate infinite 32s linear;
      }

      &_ring {
        stroke-width: 6px;
        stroke-dasharray: 64;
        stroke-dashoffset: 64;
        stroke-linecap: round;
        animation: Logo_animation_ring_dash infinite 9s linear;

        &_2 {
          animation-delay: -3s;
        }

        &_3 {
          animation-delay: -6s;
        }
      }

      &_backgroundRing {
        stroke-width: 3px;
      }

      &_head {
        animation: Logo_animation_head_rock 2s infinite;
      }

      &_eyes {
        animation: Logo_animation_blink_faster 4s infinite;
      }
    }
  }

  &_disabled {
    .Logo {
      &_ring {
        stroke: $color-text;
        stroke-width: 6px;
        opacity: 0.125;
      }

      &_eyes {
        fill: $color-text;
        opacity: 0.4;
      }

      &_smile {
        opacity: 0.4;
      }

      &_backgroundRing {
        stroke: none;
      }

      &_head {
        transform: scale(0.925) translateZ(0);
      }

      &_headBackground {
        stroke-width: 2px;
      }
    }
  }
}

@keyframes Logo_animation_blink {
  0%,
  99%,
  100% {
    transform: scaleY(1);
  }
  99.5% {
    transform: scaleY(0.2);
  }
}

@keyframes Logo_animation_blink_faster {
  0%,
  95%,
  100% {
    transform: scaleY(1);
  }
  97.5% {
    transform: scaleY(0.2);
  }
}

@keyframes Logo_animation_ring_dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 256;
  }
}

@keyframes Logo_animation_rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes Logo_animation_head_rock {
  0%,
  50%,
  100% {
    transform: scale(0.9) translateZ(0) rotateZ(0deg);
  }
  25% {
    transform: scale(0.9) translateZ(0) rotateZ(-5deg);
  }
  75% {
    transform: scale(0.9) translateZ(0) rotateZ(5deg);
  }
}
