body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text;

  &::before {
    content: 'not-set';
    display: none;
  }

  @include breakpoint('large') {
    &::before {
      content: 'large';
    }
  }

  @include breakpoint('medium') {
    &::before {
      content: 'medium';
    }
  }

  @include breakpoint('small') {
    &::before {
      content: 'small';
    }
  }

  @include breakpoint('mobile') {
    &::before {
      content: 'mobile';
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin-bottom: 0.5rem;

  &:last-child {
    margin: 0;
  }
}

#root,
.App {
  height: 100vh;
  position: relative;
  width: 100vw;
}
