:root {
  --themeColorPrimary: #002c5f;
  --themeColorPrimaryText: #fff;
  --themeColorSecondary: #26809c;
  --themeColorSecondaryText: #fff;
  --themeColorText: #111;
  --themeColorBackground1: #fff;
  --themeColorBackground2: #f5f5f5;
  --themeColorModalBackground: rgba(0, 0, 0, 0.6);
  --themeColorBorder: #e0dada;
}

$color-primary: var(--themeColorPrimary);
$color-primary-text: var(--themeColorPrimaryText);

$color-secondary: var(--themeColorSecondary);
$color-secondary-text: var(--themeColorSecondaryText);

$color-text: var(--themeColorText);

$color-background: var(--themeColorBackground1);
$color-background-secondary: var(--themeColorBackground2);

$color-modal-background: var(--themeColorModalBackground);

$color-border: var(--themeColorBorder);
