:root {
  --colorPrimary: #1d2535;
  --colorPrimaryText: #fff;
  --colorSecondary: #00b4ff;
  --colorSecondaryText: #fff;
  --colorDanger: #ff4500;
  --colorText: #111;
  --colorBackground1: #fff;
  --colorBackground2: #f5f5f5;
  --colorModalBackground: rgba(0, 0, 0, 0.6);
  --colorBoxShadow: rgba(0, 0, 0, 0.25);
  --colorBorder: #e0dada;

  --layoutHeaderHeight: 3rem;
}
