:root {
  --colorPrimary: #002c5f;
  --colorPrimaryText: #fff;
  --colorSecondary: #26809c;
  --colorSecondaryText: #fff;
  --colorText: #111;
  --colorBackground1: #fff;
  --colorBackground2: #f5f5f5;
  --colorModalBackground: rgba(0, 0, 0, 0.6);
  --colorBorder: #e0dada;

  --layoutHeaderHeight: 4rem;
}

$color-primary: var(--colorPrimary);
$color-primary-text: var(--colorPrimaryText);

$color-secondary: var(--colorSecondary);
$color-secondary-text: var(--colorSecondaryText);

$color-text: var(--colorText);

$color-background: var(--colorBackground1);
$color-background-secondary: var(--colorBackground2);

$color-modal-background: var(--colorModalBackground);

$color-border: var(--colorBorder);

$layout-header-height: var(--layoutHeaderHeight);
