$color-primary: var(--colorPrimary);
$color-primary-text: var(--colorPrimaryText);

$color-secondary: var(--colorSecondary);
$color-secondary-text: var(--colorSecondaryText);

$color-background: var(--colorBackground1);
$color-background-secondary: var(--colorBackground2);

$color-text: var(--colorText);

$color-modal-background: var(--colorModalBackground);

$color-border: var(--colorBorder);

$color-box-shadow: var(--colorBoxShadow);

$color-danger: var(--colorDanger);

$layout-header-height: var(--layoutHeaderHeight);
