.IconButton {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  background-color: transparent;
  border: none;

  &_icon {
    width: 2.5rem;
    height: 2.5rem;

    * {
      fill: white;
    }
  }

  &_label {
    @include screen-reader;
  }
}
