.Layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: $layout-header-height 1fr;
  grid-template-areas:
    'header header'
    'posts comments';

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-primary;
    color: $color-primary-text;
    grid-area: header;
    padding: 0 0.125rem;
  }
}
