.Layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: $layout-header-height 1fr;
  grid-template-areas:
    'header header'
    'posts comments';

  @include breakpoint('small') {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint('mobile') {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'posts';
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-primary;
    color: $color-primary-text;
    grid-area: header;
    padding: 0 0.25rem 0 0.75rem;
    box-shadow: 0 0.125rem 0.25rem $color-box-shadow;

    &_logo {
      width: 2.75rem;
      height: 2.75em;
      margin-right: 0.75rem;
    }

    &_textBlock {
      flex-grow: 1;
    }
  }

  &_backButton {
    margin-left: -0.5rem;
  }

  &_title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.1875;
  }

  &_subtitle {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1875;
  }
}
