.SideMenu {
  background-color: $color-background;
  position: absolute;
  padding: 2rem;
  box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25rem;
  max-width: 80vw;

  &_closeButton {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;

    * {
      fill: $color-text;
    }
  }

  &_link {
    display: block;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: $color-text;
  }

  &_slide-enter,
  &_slide-exit {
    transform: translateX(17rem) translateZ(0);
    transition-timing-function: ease-in;
  }

  &_slide-enter.SideMenu_slide-enter-active {
    transform: translateX(0) translateZ(0);
    transition-timing-function: ease-out;
  }

  @include breakpoint('mobile') {
    grid-column: 1/2;
  }
}
